# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
*         @dvush @ZanCorDX @ferranbt @liamaharon @metachris
/crates/  @dvush @ZanCorDX @ferranbt @liamaharon
/.github/ @dvush @ZanCorDX @ferranbt @liamaharon @metachris @sukoneck
