[Unit]
Description=rbuilder is an open-source, blazingly fast, cutting edge implementation of a Ethereum MEV-Boost block builder written in Rust.
Documentation=https://github.com/flashbots/rbuilder
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=exec
DynamicUser=yes
StateDirectory=rbuilder-operator
ExecStart=/usr/bin/rbuilder-operator run /etc/rbuilder-operator/config.toml

[Install]
WantedBy=multi-user.target
