name: Benchmarks

on:
  pull_request:
  push:
    branches: [develop]

jobs:
  bench:
    name: Benchmark the code
    runs-on: ubuntu-latest
    # runs-on: warp-ubuntu-latest-x64-16x
    strategy:
      matrix:
        toolchain:
          - stable
    env:
      PR_NUMBER: ${{ github.event.number }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Used to get hash of base branch

      # https://github.com/dtolnay/rust-toolchain
      - name: Setup rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.toolchain }}

      # https://github.com/swatinem/rust-cache
      - name: Run Swatinem/rust-cache@v2
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      - name: Set (and display) useful variables
        id: vars
        run: |
          source scripts/ci/env-vars.sh

          # Keep important variables around for the upload workflow that comes afterwards
          fn_vars="vars.txt"
          echo "PR_NUMBER=${PR_NUMBER}" >> $fn_vars
          echo "HEAD_SHA=${HEAD_SHA}" >> $fn_vars
          echo "HEAD_SHA_SHORT=${HEAD_SHA_SHORT}" >> $fn_vars
          echo "BASE_SHA=${BASE_SHA}" >> $fn_vars
          echo "BASE_SHA_SHORT=${BASE_SHA_SHORT}" >> $fn_vars
          cat $fn_vars

      # RUN BENCHMARKS
      - run: make bench-in-ci

      # Store results as artifact
      - name: Zip the report
        run: |
          # mkdir -p target/benchmark-in-ci/benchmark-report
          # echo hello > target/benchmark-in-ci/benchmark-report/index.html

          cp vars.txt target/benchmark-in-ci/benchmark-report/
          # cp scripts/ci/templates/benchmark-pr-comment.md target/benchmark-in-ci/benchmark-report/

          cd target/benchmark-in-ci
          zip -r benchmark-report.zip benchmark-report
          mv benchmark-report.zip ../../

      - name: Upload report as artifact
        uses: actions/upload-artifact@v4
        with:
          name: benchmark-report.zip
          path: benchmark-report.zip

      - name: Add details to CI job summary
        run: |
          cat target/benchmark-in-ci/benchmark-report/benchmark-summary.md >> $GITHUB_STEP_SUMMARY
